<body>
  <div class="jumbotron">
    <div class="container">
      <h2>Welcome to Burleigh Tennis Club Ladder!</h2>
      <p>
        If you'd like to join our competition,
        players of all abilities are welcome.
      </p>
      <p><a class="btn btn-primary btn-lg" role="button">
        Learn more &raquo;
      </a><p>
    </div>
  </div>
  <div class="container">
  <h3>Rankings</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |p| %>
        <tr>
          <td><%= p.rank %></td>
          <td><%= p.name %></td>
          <td><%= p.email %></td>
          <td><%= p.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</body>